* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(52, 255, 38);
  background: linear-gradient(
    90deg,
    rgba(52, 255, 38, 0.3053554673822654) 9%,
    rgba(118, 250, 80, 1) 47%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100%; */
  overflow: hidden;
}

.container {
  height: 80%;
  width: 65%;
  background-color: white;
  border-radius: 16px;
  padding: 0 15px;
}

.container h1 {
  color: green;
  font-weight: 500;
}

.container p {
  text-transform: capitalize;
  font-size: 14px;
}
